.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  @media only screen and (max-width: $deviceWidth) {
      max-width: none;
      padding: 0 20px;
  }
}

body {
  font-family: $mainfont;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  min-width: 320px;
}

.menu-opened {
  overflow: inherit;
  position: inherit;
  height: auto;
  width: 100%;
  @media only screen and (max-width: $deviceWidth) {
      overflow: hidden;
      position: fixed;
      height: 100%;
      width: 100%;
  }
}