.newsmakers-section.newsmakers-video-section {
	margin-top: 40px;
	h2 {
		border-bottom: 2px solid $bg-twelve-color;
		color: $main-twelve-text-color;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.4;
		margin-bottom: 16px;
	}
}
