.newsmakers-section {
	h2 {
		border-bottom: 2px solid $bg-second-color;
		color: $main-six-text-color;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.4;
		margin-bottom: 16px;
	}

	.short-newsmakers-block {
		display: flex;
		width: 100%;
		height: 361px;
		border: 1px solid $bg-four-color;
		margin-bottom: 16px;
		overflow: hidden;

		& > img {
			width: 468px;
			height: 361px;
			object-fit: cover;
		}

		.list-news {
			padding: 0 18px;
			width: 375px;

			.select-news {
				border-bottom: 1px solid $bg-four-color;
				padding: 15px 0;
				position: relative;

				a {
					display: inline-block;
					margin-bottom: 6px;
					color: $main-light-text-color;
					font-size: 16px;
					font-weight: 700;
				}

				p {
					color: $main-text-color;
					font-size: 12px;
					font-weight: 400;

					img {
						margin-right: 10px;
						height: 10px;
					}

					span {
						margin-left: 5px;
						padding-left: 5px;
						border-left: 1px solid $bg-five-color;
					}
				}

				&:last-child {
					border-bottom: none;
				}

				&:hover {
					&:before {
						content: "";
						position: absolute;
						top: 20px;
						left: -33px;
						width: 0;
						height: 0;
						border: 15px solid transparent;
						border-right-color: $bg-white-color;
						border-left: 0;
					}
				}
			}
		}
	}

	.scroll-newsmakers-block {
		width: 100%;
		height: 646px;
		.list-news {
			.scroll-select-news {
				display: flex;
				justify-content: space-between;
				border: 1px solid $bg-four-color;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				.scroll-select-news__img {
					width: 270px;
					height: 144px;
					img {
						object-fit: cover;
						width: 270px;
						height: 144px;
					}
				}
				.scroll-select-news__preview {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 20px 50px 20px 15px;
					.scroll-select-news__preview__title {
						h4, a {
							display: inline-block;
							color: $main-text-color;
							font-weight: 700;
							font-size: 14px;
							margin-bottom: 10px;
						}
						p {
							font-size: 14px;
						}
					}
					.scroll-select-news__preview__info {
						font-size: 12px;
						img {
							height: 10px;
						}
						img:first-child {
							margin-right: 30px;
						}
						img:nth-child(2) {
							margin-right: 10px;
						}
						span {
							margin-left: 25px;
							padding-left: 5px;
							border-left: 1px solid $bg-five-color;
						}
					}
				}
			}
		}
	}
	.show-more-news {
		margin-top: 20px;
		button {
			height: 40px;
			width: 100%;
			background-color: $bg-seven-color;
			color: $main-white-text-color;
			font-size: 12px;
			font-weight: 700;
			span {
				margin-left: 20px;
			}
		}
	}
}
