.ScrollbarsCustom-Track.ScrollbarsCustom-TrackY {
  height: 100%!important;
  top: 0!important;
  width: 5px!important;
  right: -15px!important;
  background: $bg-four-color!important;
  .ScrollbarsCustom-Thumb.ScrollbarsCustom-ThumbY {
    background: $bg-seven-color!important;
  }
}
.ScrollbarsCustom-Wrapper {
  right: 0!important;
}