.footer {
  margin-top: 200px;
  background-color: $bg-second-color;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 10px;
    border-bottom: 2px solid $main-nine-text-color;

    .footer-wrapper__column {
      width: 20%;

      .title-column {
        p {
          color: $main-nine-text-color;
          font-family: $mainfont;
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 15px;
        }

        .footer-list {
          li {
            margin-bottom: 15px;

            a {
              color: $main-white-text-color;
              font-family: $mainfont;
              font-weight: 400;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .footer-bottom-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0 40px;

    .footer-bottom-wrapper__logo-social {
      display: flex;
      align-items: center;

      & > a {
        display: block;
        height: 20px;

        img {
          height: 20px;
        }
      }

      .footer-social {
        margin-left: 35px;

        a {
          margin-right: 15px;
          height: 14px;

          img {
            height: 14px;
          }
        }
      }

    }
  }
}

@media only screen and (max-width: $deviceWidth) {
  .footer {
    .footer-wrapper {
      padding: 0;
      flex-direction: column;
      border-bottom: none;

      .footer-wrapper__column {
        width: 100%;

        .title-column {
          border-bottom: 2px solid $main-nine-text-color;

          p {
            padding: 30px 0;
            font-size: 28px;
            font-weight: 700;
            cursor: pointer;
            margin-bottom: 0;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              right: 5px;
              top: 38px;
              bottom: 0;
              transform: rotate(45deg);
              width: 18px;
              height: 18px;
              border-right: 2px solid #0091ea;
              border-top: 2px solid #0091ea;
              transition: .3s;
            }
          }

          .footer-list {
            display: none;

            li {
              a {
                font-size: 22px;
              }
            }
          }

          &.active {
            .footer-list {
              display: block;
            }

            p:after {
              transform: rotate(135deg);
            }
          }
        }
      }
    }

    .footer-bottom-wrapper {
      padding: 130px 0 100px;
      display: inherit;

      .footer-bottom-wrapper__logo-social {
        display: flex;
        justify-content: space-between;

        & > a {
          height: 30px;

          img {
            height: 30px;
          }
        }

        .footer-social {
          a {
            height: 30px;

            img {
              height: 30px;
            }
          }
        }
      }
    }
  }
}