.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  .header-top-section {
    height: 30px;
    width: 100%;
    background-color: $bg-main-color;
    .header-top-section-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;

      .header-top-section__language-feeds {
        display: flex;
        align-items: center;
        select {
          background-color: transparent;
          border: none;
          outline: none;
          width: 120px;
          color: $main-white-text-color;
          font-size: 12px;
          font-weight: 400;
          option {
            background-color: $bg-main-color;
          }
        }
        img {
          height: 8px;
          margin-left: 11px;
        }
      }

      .header-top-section__add-your-feeds {
        display: flex;
        button {
          color: $main-white-text-color;
          font-family: $mainfont;
          font-size: 12px;
          font-weight: 400;
          display: flex;
          align-items: center;
          img {
            height: 16px;
            padding-left: 9px;
          }
        }
      }
    }
  }

  .header-bottom-section {
    height: 53px;
    width: 100%;
    background-color: $bg-second-color;
    display: flex;
    align-items: center;

    .header-bottom-section-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-logo {
        a {
          display: block;
          height: 20px;
          img {
            height: 20px;
          }
        }
      }

      .header-nav-menu {
        display: flex;

        .submenu-list {
          display: none;
        }

        .submenu-hover {
          position: relative;

          &:hover {
            .submenu-list {
              display: block;
              position: absolute;
              width: 200px;
              padding: 20px;
              top: 52px;
              background-color: $bg-main-color;
              z-index: 10;

              li {
                margin-bottom: 20px;
                &:last-child {
                  margin-bottom: 0;
                }

                a {
                  color: $main-lighter-text-color;
                  font-size: 12px;
                  font-weight: 400;
                  transition: .2s;

                  &:hover {
                    font-size: 14px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }

        & > li {
          margin-right: 45px;
          padding: 16px 0;
          position: relative;

          &:last-child {
            margin-right: 0;
          }

          a {
            color: $main-lighter-text-color;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
          }

          &:hover {
            &:after {
              position: absolute;
              bottom: 10px;
              left: 0;
              content: "";
              width: 100%;
              height: 0;
              border: 2px solid $bg-white-color;
            }
          }
        }
      }

      .header-search-login-section {
        display: flex;
        align-items: center;

        .header-search-link {
          margin-right: 18px;
          img {
            height: 25px;
          }
        }

        button {
          display: flex;
          align-items: center;
          padding: 4px 8px;
          background-color: transparent;
          border-radius: 2px;
          border: 1px solid $bg-eleven-color;
          font-size: 12px;
          color: $main-eleven-text-color;
          cursor: pointer;
          width: 107px;

          span {
            color: $main-white-text-color;
            font-weight: 600;
            margin-right: 10px;
          }
          img {
            height: 15px;
          }
        }
      }
    }
  }
  .header-device {
    display: none;
  }
}

@media only screen and (max-width: $deviceWidth) {
  .header {
    .header-desktop {
      display: none;
    }
    .header-device {
      display: block;
      width: 100%;
      height: 95px;
      background-color: $bg-second-color;
      .header-device-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 95px;
        .header__navToggle {
          display: block;
          width: 43px;
          height: 29px;
          cursor: pointer;
          position: relative;
          &.active-burger {
            span {
              margin: 0;
              position: absolute;
              &:first-child {
                transform: rotate(-45deg);
                top: 11px;
              }
              &:nth-child(2) {
                display: none;
              }
              &:last-child {
                transform: rotate(45deg);
                top: 11px;
              }
            }
          }
          span {
            display: block;
            width: 43px;
            height: 4px;
            margin-bottom: 8px;
            background-color: $bg-white-color;
            transition: .3s;
            border-radius: 4px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .header-logo {
          a {
            display: block;
            height: 30px;
            img {
              height: 30px;
            }
          }
        }
        .navigation-side-mobile {
          display: block;
          position: absolute;
          width: 100%;
          top: 94px;
          left: 0;
          height: 0;
          overflow: hidden;
          background-color: $bg-main-color;

          &.active-nav-mobile {
            transition: height .7s;
            -webkit-transition: height .7s;
            //height: calc(100vh - 95px);
            height: initial;
            overflow: inherit;
          }
          .header-nav-menu {
            padding: 0 25px;
            & > li {
              padding: 25px 0;
              border-bottom: 1px solid $bg-nine-color;
              color: $main-lighter-text-color;
              font-family: $mainfont;
              font-size: 28px;
              font-weight: 700;
              text-transform: uppercase;
              cursor: pointer;
              a {
                color: $main-lighter-text-color;
                font-family: $mainfont;
                font-size: 28px;
                font-weight: 700;
                text-transform: uppercase;
              }
              label {
                select {
                  background-color: transparent;
                  border: none;
                  outline: none;
                  width: auto;
                  color: $main-white-text-color;
                  font-size: 28px;
                  font-weight: 400;
                  option {
                    background-color: $bg-second-color;
                  }
                }
                img {
                  height: 23px;
                  margin-left: 30px;
                }
              }
              button {
                color: $main-white-text-color;
                font-family: $mainfont;
                font-size: 28px;
                font-weight: 400;
                display: flex;
                align-items: center;
                img {
                  height: 35px;
                  padding-left: 30px;
                }
              }
            }
            .submenu-hover {
              &:after {
                content: "";
                position: absolute;
                right: 27px;
                top: 33px;
                bottom: 0;
                transform: rotate(45deg);
                width: 18px;
                height: 18px;
                border-right: 2px solid $bg-seven-color;
                border-top: 2px solid $bg-seven-color;
              }
              .submenu-list {
                display: none;
                padding: 0 25px;
                background-color: $bg-fifteen-color;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 9;
                & > li {
                  padding: 25px 0;
                  border-bottom: 1px solid $bg-nine-color;
                  color: $main-lighter-text-color;
                  font-family: $mainfont;
                  font-size: 28px;
                  font-weight: 700;
                  text-transform: uppercase;
                  cursor: pointer;
                  a {
                    color: $main-lighter-text-color;
                    font-family: $mainfont;
                    font-size: 28px;
                    font-weight: 700;
                    text-transform: uppercase;
                  }
                }
              }
              &:hover {
                .submenu-list {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}