.hp-main-block {
	padding-top: 105px;

	.main-section-wrapper {
		display: flex;
		justify-content: space-between;

		.table-right-section {
			margin-top: 25px;
		}
	}
}

@media only screen and (max-width: $deviceWidth) {
	.hp-main-block {
		padding-top: 105px;

		.main-section-wrapper {
			display: flex;
			flex-direction: column;

			.table-right-section {
				margin-top: 25px;
			}
		}
	}
}