@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:400,600&subset=cyrillic-ext');


$mainfont: 'Open Sans', sans-serif;
$secondfont: 'Source Sans Pro', sans-serif;

//BG
$bg-main-color: #37474f;
$bg-second-color: #263238;
$bg-third-color: #ffffff;

//Fonts-color
$main-text-color: #000000;
$main-light-color: #37474f;
$main-lighter-text-color: #f5f5f5;
$main-white-text-color: #ffffff;

//Screen widths
$tabletWidth: 1199px;
$mobileWidth: 979px;